# Node
node_modules/
.next/
dist/

# Python
__pycache__/
*.pyc
.venv/

# Env
.env

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
*.pid

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json